<ion-header>
  <center><ion-toolbar color="success">
     <ion-title center>RegistrAPP</ion-title>
     <ion-buttons slot="start"> <ion-back-button></ion-back-button></ion-buttons>
   </ion-toolbar></center> 
 </ion-header>
   <ion-content>
    <br>
    <h3 style="text-align: center;">REGISTROS DE ASISTENCIA</h3>
    <mat-card><table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="Dia">
        <th mat-header-cell *matHeaderCellDef> Nro </th>
        <td mat-cell *matCellDef="let element"> {{element.Dia}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Curso">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.Curso}} </td>
      </ng-container>
  
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="PorcAsistencia">
        <th mat-header-cell *matHeaderCellDef> PorcAsistencia </th>
        <td mat-cell *matCellDef="let element"> {{element.PorcAsistencia}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-card>
   </ion-content>

   <ion-footer>
     <ion-toolbar color="success">
      <center>
       <ion-button href="perfil" color="warning"><mat-icon>sentiment_very_satisfied</mat-icon></ion-button>
       <ion-button href="qr" color="warning"><mat-icon>event</mat-icon></ion-button>
       <ion-button href="login" color="warning"><mat-icon>exit_to_app</mat-icon></ion-button>
     </center> 
     </ion-toolbar>
   </ion-footer>