<ion-header>
  <center><ion-toolbar color="success">
     <ion-title center>RegistrAPP</ion-title>
     <ion-buttons slot="start"> <ion-back-button></ion-back-button></ion-buttons>
   </ion-toolbar></center> 
 </ion-header>
   
   <ion-content>


   </ion-content>

   <ion-footer>
     <ion-toolbar color="success">
      <center>
       <ion-button href="perfil" color="warning"><mat-icon>sentiment_very_satisfied</mat-icon></ion-button>
       <ion-button href="home" color="warning"><mat-icon>event</mat-icon></ion-button>
     </center> 
     </ion-toolbar>
   </ion-footer>