<ion-header>
  <ion-toolbar color="success">
    <h1 style="text-align: center;">RegistrAPP</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
    <h3 style="text-align: center;">REGISTRAR ASISTENCIA</h3>
<br>
    <center>
      <ion-thumbnail> 
        <img alt="Silhouette of mountains" src="./assets/icon/201591.jpg" />
    </ion-thumbnail>
  </center>
    <br><br>
    <ion-button (click)="ingresar()" expand="block" color="success" >LEER QR </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <center>
      <ion-button href="perfil" color="warning"><mat-icon>sentiment_very_satisfied</mat-icon></ion-button>
      <ion-button href="asistencia" color="warning"><mat-icon>calendar_month</mat-icon></ion-button>
      <ion-button href="login" color="warning"><mat-icon>exit_to_app</mat-icon></ion-button>
    </center> 
  </ion-toolbar>
</ion-footer>