<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
      <h3 style="text-align: center;">Perfil Alumno</h3>
      <ion-item>
        <ion-label position="stacked">Nombre:</ion-label>
        <ion-input placeholder="Ej: Juan"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido:</ion-label>
        <ion-input placeholder="Ej:Perez"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Escuela:</ion-label>
        <ion-input placeholder="Ej: DuocUc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento:</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>
      <ion-button href="home" expand="block">Registrar Asistencia</ion-button>
      <br>
  </ion-content>

  <ion-footer>
    <ion-icon name="alarm-outline"></ion-icon>
  </ion-footer>

