<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
      <h1 style="text-align: center;">Crear cuenta</h1>
      <h3 style="text-align: center;">Todos los campos son obligatorios</h3>

      <ion-item>
        <ion-label position="fixed">Nombre Usuario</ion-label>
        <ion-input [(ngModel)]="usuarioBD.nombreUsuario" id="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input [(ngModel)]="usuarioBD.nombre" id="nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Apellido</ion-label>
        <ion-input [(ngModel)]="usuarioBD.apellido" id="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Correo</ion-label>
        <ion-input [(ngModel)]="usuarioBD.correo" id="correo"></ion-input>
      </ion-item>
      
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="usuarioBD.nivelEducacion" placeholder="Selccione nivel de estudio">
            <ion-select-option value="Basico">Basico</ion-select-option>
            <ion-select-option value="Media">Media</ion-select-option>
            <ion-select-option value="Tecnico">Tecnico</ion-select-option>
            <ion-select-option value="Ingieneria">Ingieneria</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label position="fixed" >Fecha nacimiento</ion-label>
        <ion-input type="date" id="fechaNacimiento" [(ngModel)]="usuarioBD.fechaNacimiento" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" >Password</ion-label>
        <ion-input type="password" id="password" [(ngModel)]="usuarioBD.password"></ion-input>
      </ion-item>
      <br>
      <center>
      <ion-button color="warning" (click)="limpiar()">Limpiar</ion-button>
      <ion-button color="success" (click)="guardar()">guardar</ion-button>
    </center>
  </ion-content>
  <ion-footer>


    <ion-toolbar color="success">
     <center>
      <ion-button href="login" color="warning"><mat-icon>vpn_key</mat-icon></ion-button>
    </center> 
    </ion-toolbar>
  </ion-footer>

